SUPABASE_URL=https://your-temp-project.supabase.co
SUPABASE_ANON_KEY=your-temp-anon-key
SUPABASE_DB_URL=postgresql://postgres:password@your-temp-db.supabase.co:5432/postgres

ENVIRONMENT=development

# JWT Secret for Supabase token validation
SUPABASE_JWT_SECRET=your-temp-jwt-secret

# URLs Configuration
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

MONGODB_URI=mongodb+srv://<db_username>:<db_password>@blah.xyz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster69
